* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
  color: #efefef;
}

.background {
  background-color: #2e3033;
}

.container {
  margin: 0;
  padding: 0;
}

.carousel {
  margin-top: 15px;
}

ol,
.glyphicon {
  background-color: transparent;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  border: 0;
  background: #83bfc1;
  float: right;
}

ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* Container Controls */
.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.modal-title,
.modal-header,
.modal-body {
  font-size: larger;
  background-color: #2e3033;
}

/* Image controls */
.main-image {
  max-width: 800px;
  min-width: 210px;
  width: 100%;
  margin: 25px auto 0;
  justify-content: center;
}

/* Title controls */
.title {
  justify-content: space-between;
  border-bottom: 2px lightgrey solid;
}

.name {
  padding-top: 5px;
  margin-bottom: 10px;
}

.job-title {
  vertical-align: bottom;
  padding-bottom: 0;
  padding-top: 15px;
  margin: 0;
}

/* Content Controls*/
.content {
  text-align: center;
  margin: 10px;
  padding: 5px;
  min-width: 210px;
  flex: 1;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;
}

.content:hover {
  background-color: #7f8082;
}

.content-picture {
  max-width: 80%;
}

.project {
  padding: 5px;
  font-size: 25px;
}

/* Aside controls */
.aside {
  justify-content: flex-start;
  line-height: 1.4em;
  font-size: 12px;
  margin-top: 10px;
}
