@media screen and (max-width: 475px) {
  .footer, .content-title {
    justify-content: center;
  }

  .title {
    text-align: center;
  }
}

@media screen and (min-width: 476px) and (max-width: 705px) {
  .footer, .content-title {
    justify-content: space-around;
  }
}

@media screen and (min-width: 706px) {
  .row {
    max-width: 1200px;
    padding-left: auto;
    padding-right: auto;
    margin: 0;
  }
}
