@media screen and (min-width: 706px) {
  .container {
    padding-left: auto;
    padding-right: auto;
  }
  .row {
    max-width: 1200px;
    margin: 0;
  }
}

@media screen and (min-width: 563px) and (max-width: 705px) {
  header .title {
    justify-content: space-between;
  }
}

@media screen and (min-width: 520px) and (max-width: 562px) {
  header .title {
    justify-content: left;
  }
  .carousel,
  .content-title {
    display: flex;
  }

  .content-title {
    text-align: left;
  }

  .content {
    justify-content: space-between;
  }

  .row {
    padding-left: auto;
    padding-right: auto;
    margin: 0;
  }

  .title {
    justify-content: space-between;
  }
}

@media screen and (max-width: 519px) {
  .content {
    justify-content: center;
    margin: 0;
    flex: 1 0 100%;
  }

  .carousel,
  .content-title {
    display: none;
  }

  .row {
    padding-left: auto;
    padding-right: auto;
    margin: 0;
  }

  .title {
    justify-content: left;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .footer, .content-title {
    justify-content: space-between;
  }
}
